@model OAuth20.Server.OauthResponse.AuthorizeResponse
@{
    ViewData["Title"] = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Authorize</h1>


<h1>@Model.Code</h1>
<h1>@Model.GrantType</h1>

