@using Microsoft.AspNetCore.Authentication
@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <p>
            <ul>
                @foreach (var u in User.Claims)
                {
                    <li><strong>@u.Type :</strong>@u.Value</li>
                }
                <li><strong>Access Token: </strong>@await Context.GetTokenAsync("access_token")</li>
                <li><strong>Identity Token: </strong>@await Context.GetTokenAsync("id_token")</li>
            </ul>
        </p>
    }
</div>

<div>
    @if (Model != null)
    {
        <p>@Model</p>
    }

</div>

<div>
    <form asp-action="Index" asp-controller="Home" method="post">


        <button value="Get Token" type="submit">Get Token To Call (ProtectedResourceApp_JwtBearer) API</button>
    </form>
</div>
