@model OAuth20.Server.OauthRequest.CreateUserRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center" style="margin-top:130px;">
    <div class="col-md-5">
        <div class="card">
            <h5 class="card-header bg-dark text-white">Register</h5>
            <div class="card-body">
                <p>Please fill in this form to create an account.</p>
                <form class="px-4 py-3" asp-action="Register" asp-controller="Accounts" method="post">

                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">User Name</label>
                        <input type="text" class="form-control" asp-for="UserName" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>

                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="text" class="form-control" asp-for="Email" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="phone">Mobile number</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="00249" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" asp-for="Password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    @*<div class="form-group">
                        <label for="exampleDropdownFormPassword1">Repeat Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Repeat Password">
                    </div>*@
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                By creating an account you agree to our Terms & Privacy.
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-route="Login">Already have an account? Sign in</a>

            </div>
        </div>
    </div>


</div>